:root {
  --primary: #4eca5f;
}

.menu {
  background-color: var(--primary);
  color: #fff;
  font-size: 16px;
  position: relative;
  padding: 15px 25px;
  text-align: right;
}

.menuItemList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: lowercase;
  display: flex;
}

.menuItem {
  color: inherit;
  margin: 0 15px;
}

.menuItem:hover {
  color: inherit;
  text-decoration: underline;
}

.btnAdmin {
  margin-right: 15px;
}

.btnAdmin,
.btnAdmin:hover,
.btnAdmin:active,
.btnAdmin:focus {
  color: #fff;
  border-color: #fff;
}

.btnAdmin {
  transition: opacity 0.4s;
}

.btnAdmin:hover {
  opacity: 0.75;
}

.btnAdmin:focus {
  opacity: 1;
}

.dropdownItem {
  padding: 5px 16px;
}
